@page "/"
@using MauiBlazorApp.Models
@using MauiBlazorApp.Services
@inject IPersonService PersonService;
@inject NavigationManager NavManager;

<h1>Person List</h1>



<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search..." @bind="searchText" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="HandleSearch">Search</button>
    </div>
</div>

@if (searchResults != null)
{
    <div class="table-responsive">
        <table class="table">
            <!-- Your table headers here -->
            <tbody>
                @foreach (var person in searchResults)
                {
                    <tr>
                        <td>@person.Nachname</td>
                        <!-- Add other table data here -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private string searchText = string.Empty;
    private List<PersonModel> allPersons;

    private List<PersonModel> searchResults;

    // protected override async Task OnInitializedAsync()
    // {
    //     allPersons = await PersonService.GetAllPersonsList();
    //     searchResults = allPersons;
    // }

    private void HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(searchText))
        {
            searchResults = allPersons
                .Where(person => person.Nachname.Contains(searchText) || person.Vorname.Contains(searchText))
                .ToList();
        }
        else
        {
            searchResults = allPersons;
        }

    }
}




@if (_PersonList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class= "table">
            <thead>
                <tr>

               <td>Nachname</td>
                <th>Vorname</th>
                <td>Zwischenname</td>
               <td>Email</td>
                 <td>Telefonnummer</td>
                <td>Strasse</td>
                <td>Hausnummer</td>
                <td>PLZ</td>
                <td>Stadt</td>
                <td>Land</td>
                <td>Gender</td>
@*                res of the list 
 *@
                </tr>
            </thead>
            <tbody>
                @foreach (var person in _PersonList)
                {
                    <tr @onclick = "@(() => DisplayOption(person))">
                        <td>@person.Nachname</td>
                        <td>@person.Vorname</td>
                        <td>@person.Zwischenname</td>
                        <td>@person.Email</td>
                        <td>@person.Telefonnummer</td>
                        <td>@person.Strasse</td>
                        <td>@person.Hausnummer</td>
                        <td>@person.PLZ</td>
                        <td>@person.Stadt</td>
                        <td>@person.Land</td>
                        <td>@person.Gender</td>
                        <!-- Add other table data here -->
                    </tr>
                }
            </tbody>
        </table>

    </div>
}



@code {
    List<PersonModel> _PersonList;

    protected override async Task OnInitializedAsync()
    {
        //_PersonList = await PersonService.GetAllPersonsList();
        allPersons = await PersonService.GetAllPersonsList();
        searchResults = allPersons;
    }

    private async void DisplayOption(PersonModel personDetail )
    {

        var response =  await App.Current.MainPage.DisplayActionSheet("Select Option", "Ok", null, "Update Contact", "Delete Contact");

        if(response == "Update Contact")

        {
            NavManager.NavigateTo($"updatePerson/{personDetail.Id}");
        }
        else if (response == "Delete Contact")

        {
            var deleteresponse = await  PersonService.DeletePerson(new AddUpdatePersonRequest
                {
                      Id = personDetail.Id
                });

            if (deleteresponse . Success)
            {
                await OnInitializedAsync();
                this.StateHasChanged();
            }
        }
    }


}


