@page "/"
@using CommonCode.Models
@using CommonCode.Services
@inject IPersonService PersonService;
@inject NavigationManager NavManager;

<h1>Person List</h1>


@if (_PersonList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class= "table">
            <thead>
                <tr>

               <td>Nachname</td>
                <th>Vorname</th>
                <td>Zwischenname</td>
               <td>Email</td>
                 <td>Telefonnummer</td>
                <td>Strasse</td>
                <td>Hausnummer</td>
                <td>PLZ</td>
                <td>Stadt</td>
                <td>Land</td>
                <td>Gender</td>
@*                res of the list 
 *@
                </tr>
            </thead>
            <tbody>
                @foreach (var person in _PersonList)
                {
                   // <tr @onclick = "@(() => DisplayOption(person))">
                       <tr>
                        <td>@person.Nachname</td>
                        <td>@person.Vorname</td>
                        <td>@person.Zwischenname</td>
                        <td>@person.Email</td>
                        <td>@person.Telefonnummer</td>
                        <td>@person.Strasse</td>
                        <td>@person.Hausnummer</td>
                        <td>@person.PLZ</td>
                        <td>@person.Stadt</td>
                        <td>@person.Land</td>
                        <td>@person.Gender</td>
                        <!-- Add other table data here -->
                    </tr>
                }
            </tbody>
        </table>

    </div>
}



@code {
    List<PersonModel> _PersonList;

    protected override async Task OnInitializedAsync()
    {
        _PersonList = await PersonService.GetAllPersonsList();
    }

    // private async void displayoption(PersonModel persondetail )
    // {

    //     // //var response = await App.current.mainpage.displayactionsheet("select option", "ok", null, "update contact", "delete contact");

    //     // if(response == "update contact")

    //     // {
    //     //     NavManager.NavigateTo($"updateperson/{persondetail.Id}");
    //     // }
    //     // else if (response == "delete contact")

    //     // {
    //     //     var deleteresponse = await  PersonService.DeletePerson(new AddUpdatePersonRequest
    //     //         {
    //     //               Id = persondetail.Id
    //     //         });

    //     //     if (deleteresponse . Success)
    //     //     {
    //     //         await OnInitializedAsync();
    //     //         this.StateHasChanged();
    //     //     }
    //     // }
    // }


}


