@using Xamarin.Essentials
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components;




<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code
{
    //to show the android view 
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (DeviceInfo.Platform == DevicePlatform.Android)
        {
            NavManager.NavigateTo("/android");
        }
    }
}

